.App {
    width: 880px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #1D1D1D;
    border-radius: 10px;
}

.pitch-wrapper {
    width: 832px;
    height: 540px;
    margin: 32px auto;
}

.pitch-photo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("Images/Soccer field.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
}
.players{
    width: 416px;
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.player_item{
    color: #FFFFFF;
}

